<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Bonjour
			{{ name }},</h1>
		<p>Nous avons bien reçu votre demande de contact. Voici un résumé des informations que vous avez fournies :</p>
		<ul>
			<li>
				<strong>Nom :</strong>
				{{ name}}</li>

				<strong>Téléphone :</strong>
				{{ phone }}</li>
			<li>
				<strong>Message :</strong>
				{{ message }}</li>
		</ul>
		<p>Nous vous contacterons dès que possible. Merci de nous avoir contactés !</p>
		<p>Cordialement,</p>
		<p>L'équipe du site</p>
	</body>
</html>

